/* Reset básico y tipografía */
* {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: white;
}

/* Estructura principal */
html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 232, 232);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Título: 2048*/
.titulo {
  margin-bottom: 5px;
  font-size: 2rem;
}
/* Encabezado */
h1 {
  color: rgb(181, 0, 0);
  font-weight: bold;
}

/* Contenedor Puntaje del juego estilos */
.container-puntaje{
  margin: 1rem;
  width: 10rem;
  text-align: center;
  height: 4rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(255, 116, 116);
  border: none;
  border-radius: 10px;
}
/* Descripción "Creado por Moro"*/
.descripcion {
  color: rgb(222, 105, 105);
  font-size: 0.8rem;
  margin-top: -10px;
}
/* Botones */
button {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 159, 159);
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0.8;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(255, 60, 60);
}

/* Listas sin estilos por defecto */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container-game{
  overflow: hidden;
}
/* Tablero general */
.tablero {
  background-color: pink;
  border: 1px solid pink;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Filas del tablero */
.fila {
  width: auto;
}

.fila ul {
  display: flex;
  gap: 5px;
}

/* Celdas / bloques */
.bloque li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: rgb(250, 99, 99);
  padding: 1px;
  border-radius: 5px;
}

/* Contenedor de botones inicio */
.contenedor-botones {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
